<div>
  <h1>Reporte #<%= @issue.id %></h1>
  <p><strong>Detalle</strong>:
    <blockquote>
      <%= @issue.text %> | 
      <%= render_cell :tweets, :issue_tweet, tweet_id: @issue.tweet_id %>
    </blockquote>
  </p>
  <i class="icon-thumbs-up"></i> Relevancia: <%= @issue.relevance %>
  <%= render "map" %>
  
  <% unless @issue.image_url.empty? %>
    <h3>Foto</h3>
    <img src="<%= @issue.image_url %>"/>
  <% end %>

  <div class="issue-fix-panel">
     <span class="badge badge-success">
       <%= link_to "+", fix_issue_path(@issue) %>
     </span>
     <span class="badge badge-important">
       <%= link_to "-", unfix_issue_path(@issue) %>
     </span>
    <p>
      <%= "Puntaje arreglado: #{@issue.fixed}" %>
    </p>
  </div>

  <div class="btn-group">
    <button class="btn">Agregar información</button>
    <button class="btn">Responder en Twitter</button>
    <button class="btn">Hacer RT</button>
  </div>

</div>
